<!DOCTYPE html>
<head>
    <title>caracego's blog</title>
</head>
<body>
    <p>Hi there!</p>
    <p>It works!</p>
<h1> 
    <p> This is caracego's blog </p>
</h1>
<h2> <a href="/">MY BLOG</a></h2>
<h3> <p> En una exacta
    foto del diario
    señor ministro
    del imposible</p>
    
    <p>vi en pleno gozo
    y en plena euforia
    y en plena risa
    su rostro simple</p>
    
    <p>seré curioso
    señor ministro
    de qué se ríe
    de qué se ríe</p>
    
    <p>de su ventana
    se ve la playa
    pero se ignoran
    los cantegriles</p>
    
    <p>tienen sus hijos
    ojos de mando
    pero otros tienen
    mirada triste </p>
    
    <p>aquí en la calle
    suceden cosas
    que ni siquiera
    pueden decirse</p>
    
    <p>los estudiantes
        y los obreros
        ponen los puntos
        sobre las íes</p>
    
    <p>por eso le digo
        señor ministro
        de qué se ríe
        de qué se ríe</p>
    
    <p>usté conoce
    mejor que nadie
    la ley amarga
    de estos paíse</p>
    
    <p>duros
    con nuestra gente
    por qué con otros
    son tan serviles</p>
    
    <p>cómo traicionan
    el patrimonio
    mientras el gringo
    nos cobra el triple</p>
    
    cómo traicionan
    usté y los otros
    los adulones
    y los seniles
    
    por eso digo
    señor ministro
    de qué se ríe
    de qué se ríe
    
    aquí en la calle
    sus guardias matan
    y los que mueren
    son gente humilde
    
    y los que quedan
    llorando de rabia
    seguro piensan
    en el desquite
    
    allá en la celda
    sus hombres hacen
    sufrir al hombre
    y eso no sirve
    
    después de todo
    usté es el palo
    mayor de un barco
    que se va a pique
    
    seré curioso
    señor ministro
    de qué se ríe
    de qué se ríe.</p></h3>
</body>
</html>